body { margin: 0; padding 0; }

#display img,
#display video {
  padding: 10px;
  max-width: 95%;
  max-height: 95%;
}

#display iframe {
  width: 100%;
  height: 90%;
}

#get_link {
  z-index: 10;
  position: absolute;
}
